.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('C:/Users/Sasha/Desktop/I.jpg'); /* Замените на путь к вашему изображению */
  background-size: cover; /* Фоновое изображение будет охватывать весь экран */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Изображение не будет повторяться */
}

.content-wrap {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8); /* Добавим белый фон с прозрачностью для читаемости текста */
  margin-top: 70px; /* Учитываем фиксированный header */
  padding: 20px;
  border-radius: 8px;
}
